{
  "Database": {
    "charset": "utf8mb4",
    "dbname": "DATABASE_DBNAME",
    "host": "DATABASE_HOST",
    "passwd": "DATABASE_PASSWORD",
    "user": "DATABASE_USERNAME"
  },
  "google_search_api_url": "https://www.googleapis.com/customsearch/v1?",
  "google_search_api_cx": "YOUR_CUSTOM_SEARCH_API_CX",
  "google_search_api_key": "YOUR_CUSTOM_SEARCH_API_KEY",
  "GSR_API_KEY": "YOUR_SCALE_SERP_API_KEY",
  "RABBITMQ": {
    "HOST": "RabbitMQ_HOST",
    "QUEUE": "RabbitMQ_QUEUE_NAME"
    "QUEUE_SEARCH": "RabbitMQ_ANOTHER_QUEUE_NAME"
  }
}