beautifulsoup4==4.9.1
certifi==2022.12.7
chardet==3.0.4
fake-useragent==0.1.11
google-search-results-serpwow==1.1.11
idna==2.10
pika==1.1.0
PyMySQL==0.10.1
requests==2.24.0
soupsieve==2.0.1
urllib3==1.25.10
